<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated travel -->
      <package
            uri="org.eclipse.emf.texo.test.model.samples.travel"
            class="org.eclipse.emf.texo.test.model.samples.travel.TravelPackage"
            genModel="model/travel.xcore"/>
   </extension>

</plugin>
