<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Texo Web Example</display-name>

	<listener>
		<listener-class>org.eclipse.emf.texo.web.example.TexoWebExampleContextListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>emFilter</filter-name>
		<filter-class>org.eclipse.emf.texo.server.store.CurrentEntityManagerRequestFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>emFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>TexoDataModelBrowser</servlet-name>
		<servlet-class>org.eclipse.emf.texo.web.example.ExampleModelBrowserServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>TexoJSONWS</servlet-name>
		<servlet-class>org.eclipse.emf.texo.server.web.JSONRestWebServiceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>TexoXMLWS</servlet-name>
		<servlet-class>org.eclipse.emf.texo.server.web.XMLRestWebServiceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>TexoDataModelBrowser</servlet-name>
		<url-pattern>/model/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TexoJSONWS</servlet-name>
		<url-pattern>/jsonws/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TexoXMLWS</servlet-name>
		<url-pattern>/xmlws/*</url-pattern>
	</servlet-mapping>

</web-app>